.file-upload {
  display: inline-flex;
  align-items: center;
}
.file-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.file-button {
  display: inline-flex;
  align-items: center;
}
.file-name {
  font-size: 0.9rem;
  color: #555;
}
